.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #f4f4f4;
    padding: 10vh 0;
}

.aboutMe__title {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    color: #f4f4f4;
    margin-bottom: 20px;   
}

.aboutMe__description {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    opacity: 0.8;
    margin-bottom: 5px;
}

.aboutMe__tecnologias__titulo {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    color: #f4f4f4;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.aboutMe__tecnologias__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 100px;
    padding: 0;
}