/* Contenedor principal */
.estudio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
  }
  
  /* Caja de información con fondo oscuro */
  .estudio__info {
    position: relative;
    width: 420px;
    height: 250px;
    background: rgba(20, 20, 20, 0.9); /* Negro con opacidad */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }


  .estudio__icono__fondo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 90%;
    height: 100%;
    max-width: 100%; /* Asegura que no sea más ancho que el contenedor */
    max-height: 100%; /* Asegura que no sea más alto que el contenedor */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
    object-fit: contain; /* Para que la imagen se ajuste dentro sin recortar y manteniendo su proporción */
  }

  .estudio__info:hover .estudio__icono__fondo {
    opacity: 0.035;
  }

  .estudio__info__distinta__opacidad:hover .estudio__icono__fondo {
    opacity: 0.055;
  }
  
  /* Título */
  .estudio__title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px;
    height: 50px;
    font-family: "Ubuntu", sans-serif;
  }
  
  /* Institución */
  .estudio__institution {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
  }
  
  /* Fechas */
  .estudio__date {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
  }

  .estudio__status__vermas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Ubuntu", sans-serif;
  }
  
  .estudio__vermas {
    background: #007bff; /* Color azul */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-block;
    text-align: center;
    min-width: 80px; /* Evita que se haga demasiado chico */
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: "Ubuntu", sans-serif;
  }

  .estudio__vermas:hover {
    background: #0056b3; /* Color azul más oscuro */
  }

  .estudio__certificado {
    background-color: #52c7e1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-block;
    z-index: 1;
    text-align: center;
    min-width: 90px; /* Evita que se haga demasiado chico */
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
  }

  .estudio__certificado:hover {
    background-color: #3e9dbf;
  }

  /* Estado del estudio */
  .estudio__status {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
  }
  
  /* Colores según el estado del estudio */
  .estudio__status--completado {
    background-color: #4caf50;
    color: white;
  }
  
  .estudio__status--en-curso {
    background-color: #ff9800;
    color: white;
  }
  
  .estudio__status--pendiente {
    background-color: #f44336;
    color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {

    .estudio {
      padding: 20px 0px;
    }

    .estudio__info {
      width: 100%;
    }
  }
  