/* Estilos base */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
  }
  
  /* Contenedor de la barra */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 10px 20px 0;
  }
  
  /* Estilo cuando se hace scroll */
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo */
  .logo {
    filter: invert(0.9);
    height: 36px;
    width: auto;
  }
  
  /* Estilos del menú */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px 0;
  }

  .nav-links .boton-navbar {
    background-color: transparent;
    border: none;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #00bcd4;
  }
  
/* Estilos básicos del botón para quitar bordes y fondo */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

/* Estilo de cada línea */
.bar {
  width: 2rem;
  height: 0.25rem;
  background-color: #f4f4f4; /* Cambia esto por tu color deseado */
  border-radius: 10px;
  transition: all 0.3s linear; /* La clave: suaviza el cambio */
  position: relative;
  transform-origin: 1px; /* Para que roten desde el borde izquierdo */
}

/* --- Transformación cuando está abierto (Clase .open) --- */

/* Primera línea: Rota 45 grados */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg);
}

/* Segunda línea: Se desvanece y se mueve a un lado */
.hamburger.open .bar:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

/* Tercera línea: Rota -45 grados */
.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

   .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    background: rgba(0, 0, 0, 0.80);
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    z-index: 0;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-links.active {
    transform: translateX(0);
  }
  .nav-links li {
    margin: 15px 0;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
  }

}