/* Estilos base */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
  }
  
  /* Contenedor de la barra */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Estilo cuando se hace scroll */
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo */
  .logo {
    filter: invert(0.9);
    height: 36px;
    width: auto;
  }
  
  /* Estilos del menú */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px 0;
  }

  .nav-links .boton-navbar {
    background-color: transparent;
    border: none;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #00bcd4;
  }
  
.hamburger {
  display: none;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 24px;
  font-size: 24px;
  transform: rotate(90deg);
  z-index: 900;
}

.hamburger span {
  display: inline-block;
  width: 6px;
  height: 3px;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: translateX(18px) rotate(35deg) translateY(-1px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateX(-10px) rotate(-34deg) translateY(-1px);
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

   .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    background: rgba(0, 0, 0, 0.80);
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    z-index: 0;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-links.active {
    transform: translateX(0);
  }
  .nav-links li {
    margin: 15px 0;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
  }

}