/* Estilos base */
.proyect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Contenedor principal */
.proyect__container {
  width: 450px;
  height: 500px;
  background: rgba(20, 20, 20, 0.9);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyect__container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

/* Imagen */
.proyect__image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  display: block;
}

/* Contenedor de información */
.proyect__info {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
}

/* Título */
.proyect__title {
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    opacity: .8;
}
  
.proyect__description {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #bbb; /* Gris claro para mejor lectura */
}

.final {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Estado del proyecto */
.proyect__status {
  font-size: 14px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  padding: 8px 12px;
  border-radius: 5px;
  width: fit-content;
}

.proyect__status--completado {
    background-color: #4caf50;
    color: #fff;
}
  
.proyect__status--en-progreso {
    background-color: #ff9800;
    color: #fff;
}
  
.proyect__status--pendiente {
    background-color: #f44336;
    color: #fff;
}

.proyect__ver__mas {
  background: #007bff; /* Color azul */
  color: white;
  border: none;
  padding: 6px 10px; /* Reducimos el padding */
  border-radius: 5px;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
  display: inline-block;
  text-align: center;
  min-width: 80px; /* Evita que se haga demasiado chico */
  height: 39px;
}

.proyect__ver__mas:hover {
  background: #0056b3; /* Color azul más oscuro */
}

/* Responsive */
@media (max-width: 768px) {
  .proyect__container {
    width: 100%;
  }

  .proyect__title {
    font-size: 16px;
  }

  .proyect__description {
    font-size: 14px;
  }
}
