.tecnologia__individual__icono {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    filter: invert(0.8);
}

.tecnologia__individual__nombre {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    color: #f4f4f4;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 960px) {
    .tecnologia__individual__icono {
        width: 50px;
        height: 50px;
    }
    .tecnologia__individual__nombre {
        font-size: 14px;
    }
}